@charset "utf-8";

body {
  font-family: "Bitter", serif;
  background: #dfe7ef;
}

* {
  box-sizing: border-box;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;

  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}
@media screen and (max-width: 700px), (max-height: 500px) {
  .wrapper {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.player {
  width: 410px;
  min-height: 480px;
  padding: 30px;
  background: #eef3f7;
  box-shadow: 0 15px 35px -5px rgba(50, 88, 130, .32);
  border-radius: 15px;
}
@media screen and (max-width: 576px), (max-height: 500px) {
  .player {
    width: 95%;
    max-width: 400px;
    min-height: initial;
    padding: 20px;
    padding-bottom: 30px;
    margin-top: 75px;
  }
}
.player__top {
  position: relative;
  z-index: 4;
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 576px), (max-height: 500px) {
  .player__top {
    flex-wrap: wrap;
  }
}
.player-cover {
  position: relative;
  z-index: 2;
  z-index: 1;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-left: -70px;
  border-radius: 15px;
}
@media screen and (max-width: 576px), (max-height: 500px) {
  .player-cover {
    width: 290px;
    height: 230px;
    margin-top: -70px;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
  }
}
.player-cover__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.player-cover__item:before {
  content: "";
  position: absolute;
  top: 30px;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background: inherit;
  box-shadow: 0 10px 40px 0 rgba(76, 70, 124, .5);
  border-radius: 15px;
  transform: scale(.9);
  opacity: .9;
  filter: blur(10px);
}
.player-cover__item:after {
  content: "";
  position: absolute;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background: inherit;
  box-shadow: 0 10px 40px 0 rgba(76, 70, 124, .5);
  border-radius: 15px;
}
.player-cover__img {
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 40px 0 rgba(76, 70, 124, .5);
  border-radius: 15px;
  pointer-events: none;
  user-select: none;

  object-fit: cover;
}
.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding-left: 20px;
}
@media screen and (max-width: 576px), (max-height: 500px) {
  .player-controls {
    flex-direction: row;
    flex: unset;
    width: 100%;
    padding-left: 0;
  }
}
.player-controls__item {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-bottom: 10px;
  color: #acb8cc;
  font-size: 30px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
@media screen and (max-width: 576px), (max-height: 500px) {
  .player-controls__item {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 0;
    color: #acb8cc;
    font-size: 26px;
    cursor: pointer;
  }
}
.player-controls__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0 5px 10px 0 rgba(76, 70, 124, .2);
  border-radius: 50%;
  transform: scale(.5);
  transition: all .3s ease-in-out;
  transition: all .4s cubic-bezier(.35, .57, .13, .88);
  opacity: 0;
}
@media screen and (min-width: 500px) {
  .player-controls__item:hover {
    color: #532ab9;
  }
  .player-controls__item:hover::before {
    transform: scale(1.3);
    opacity: 1;
  }
}
@media screen and (max-width: 576px), (max-height: 500px) {
  .player-controls__item:active {
    color: #532ab9;
  }
  .player-controls__item:active::before {
    transform: scale(1.3);
    opacity: 1;
  }
}
.player-controls__item .icon {
  position: relative;
  z-index: 2;
}
.player-controls__item.-xl {
  display: inline-flex;
  width: auto;
  height: auto;
  margin-bottom: 0;
  color: #fff;
  font-size: 95px;
  filter: drop-shadow(0 11px 6px rgba(172, 184, 204, .45));
}
@media screen and (max-width: 576px), (max-height: 500px) {
  .player-controls__item.-xl {
    margin-right: 0;
    margin-left: auto;
    font-size: 75px;
  }
}
.player-controls__item.-xl:before {
  display: none;
}
.player-controls__item.-favorite.active {
  color: red;
}

[v-cloak] {
  display: none;
}

[v-cloak] > * {
  display: none;
}

.progress {
  width: 100%;
  margin-top: -15px;
  user-select: none;
}
.progress__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.progress__duration {
  color: #71829e;
  font-size: 20px;
  font-weight: 700;
  opacity: .5;
}
.progress__time {
  margin-top: 2px;
  color: #71829e;
  font-size: 16px;
  font-weight: 700;
  opacity: .7;
}

.progress__bar {
  display: inline-block;
  width: 100%;
  height: 6px;
  background-color: #d0d8e6;
  border-radius: 10px;
  cursor: pointer;
}

.progress__current {
  width: 0;
  height: inherit;
  background-color: #a3b3ce;
  border-radius: 10px;
}

.album-info {
  flex: 1;
  padding-right: 60px;
  color: #71829e;
  user-select: none;
}
@media screen and (max-width: 576px), (max-height: 500px) {
  .album-info {
    padding-right: 30px;
  }
}
.album-info__name {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3em;
}
@media screen and (max-width: 576px), (max-height: 500px) {
  .album-info__name {
    margin-bottom: 9px;
    font-size: 18px;
  }
}
.album-info__track {
  min-height: 52px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3em;
  opacity: .7;
}
@media screen and (max-width: 576px), (max-height: 500px) {
  .album-info__track {
    min-height: 50px;
    font-size: 18px;
  }
}

.github-btn {
  position: absolute;
  right: 40px;
  bottom: 50px;
  padding: 15px 25px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  background: #24292e;
  box-shadow: 0 4px 30px -6px rgba(36, 52, 70, .65);
  border-radius: 4px;
  transition: all .3s ease-in-out;
}
@media screen and (min-width: 500px) {
  .github-btn:hover {
    box-shadow: 0 17px 20px -6px rgba(36, 52, 70, .36);
    transform: scale(1.1);
  }
}
@media screen and (max-width: 700px) {
  .github-btn {
    position: relative;
    right: auto;
    bottom: auto;
    margin-top: 20px;
  }
  .github-btn:active {
    box-shadow: 0 17px 20px -6px rgba(36, 52, 70, .36);
    transform: scale(1.1);
  }
}

.scale-out-enter-active {
  transition: all .35s ease-in-out;
}

.scale-out-leave-active {
  transition: all .35s ease-in-out;
}

.scale-out-enter {
  transform: scale(.55);
  opacity: 0;
  pointer-events: none;
}

.scale-out-leave-to {
  transform: scale(1.2);
  opacity: 0;
  pointer-events: none;
}

.scale-in-enter-active {
  transition: all .35s ease-in-out;
}

.scale-in-leave-active {
  transition: all .35s ease-in-out;
}

.scale-in-enter {
  transform: scale(1.2);
  opacity: 0;
  pointer-events: none;
}

.scale-in-leave-to {
  transform: scale(.55);
  opacity: 0;
  pointer-events: none;
}

/*# sourceMappingURL=main.css.map */
